body {
    font-family: Roboto, Helvetica, sans-serif;
    margin: 0;
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    
}

.navbar {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 100 auto;
    width: 100vw;
    padding: 10px;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    justify-content: flex-end;
    flex: 1;
}

.link1 {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    padding-inline-start: 20px;
    flex: 1;
}

.link2 {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    flex: 1;
}

.link3 {
    display: flex;
    color: #E5E7EB;
    font-size: 18px;
    flex: 1;
}

/* This website is awesome container */
.one {
    display: flex;
    background-color: #1F2937;
    color: #F9FAF8;

}

.awesome-container h1 {
    font-size: 48px;
    font-weight: 900;
}

.awesome-container {
    display: flex;
    font-size: 18px;
    color: #E5E7EB;
    flex-direction: column;
    flex: 1;
    justify-content: start;
    align-items: start;
}
.awesome-image {
    display: flex;
    flex: 1;
}

button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    width: 100px;
    border-radius: 8px;
    border-color: #3882F6;
    height: 30px;
}

.cta-button {background-color: #3882F6;}

.info-header-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.quote-section {
    background-color: #EFE7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}