body {
    font-family: Roboto, Helvetica, sans-serif;
}

h1 {
    background-color: #1F2937;
    color: #F9FAF8;
    font-weight: 900;
}

header link {
    color: #E5E7EB;
    font-size: 18px;
}

header logo {
    color: #F9FAF8;
    font-size: 24px;
}

button {
    color: #3882F6;
}

.cta-button {background-color: #3882F6;}

.info-header-text {
    color: #1F2937;
    font-size: 36px;
    font-weight: 900;
}

.quote-section {
    background-color: #EFE7EB;
    font-size: 36px;
    color: #1F2937;
    font-weight: 300;
}